<div class="card mt-5">
  <div class="card-body">
    <div class="form-group row">
      <div class="col-12">
        <input type="text" [(ngModel)]="searchValue" class="m-5" placeholder="Search Jokes"/>
        <button mat-raised-button color="primary" (click)="searchJokes()">Search</button>
      </div>
    </div>
    <div class="col-12 text-center">
      <table mat-table [dataSource]="jokesList" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th mat-header-cell class="mat-header-cell-padding" *matHeaderCellDef> Joke Id</th>
          <td mat-cell *matCellDef="let element" [class.active]="isSelected(element.id)"><a
            routerLink="/joke/{{element.id}}">{{element.id}}</a></td>
        </ng-container>

        <ng-container matColumnDef="subject">
          <th mat-header-cell class="mat-header-cell-padding" *matHeaderCellDef> Subject</th>
          <td mat-cell *matCellDef="let element" [class.active]="isSelected(element.id)"> {{element.subject}} </td>
        </ng-container>

        <ng-container matColumnDef="text">
          <th mat-header-cell class="mat-header-cell-padding" *matHeaderCellDef> Text</th>
          <td mat-cell *matCellDef="let element" [class.active]="isSelected(element.id)"> {{element.text}} </td>
        </ng-container>

        <ng-container matColumnDef="upVotes">
          <th mat-header-cell class="mat-header-cell-padding" *matHeaderCellDef> Up Votes</th>
          <td mat-cell *matCellDef="let element" [class.active]="isSelected(element.id)"> {{element.upVotes}} </td>
        </ng-container>

        <ng-container matColumnDef="downVotes">
          <th mat-header-cell class="mat-header-cell-padding" *matHeaderCellDef> Down Votes</th>
          <td mat-cell *matCellDef="let element" [class.active]="isSelected(element.id)"> {{element.downVotes}} </td>
        </ng-container>

        <tr mat-header-row class="mat-header-cell-padding" *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
