/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-header-cell-padding {
  padding-right: 30px;
  text-align: center;
}

th.mat-header-cell {
  text-align: center !important;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.active {
  background-color: aqua;
}

